<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:replace="common/head"></th:block>

    <link href="review.css" th:href="@{/css/review/view.css}" rel="stylesheet" />
</head>
<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="prev"><a href="javascript:history.back();"><i data-feather="chevron-left"></i></a></div>
            <div class="pagename font font-20"><span th:text="${company.name}" /></div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="company-form font mg-t-20">
            <div class="map" id="map">
                <img th:src="@{/images/abstract-architecture-blue-entrance-perspective-financial.jpg}" style="display: none;"/>
            </div>
            <div class="info mg-t-5">
                <span class="name font-16"><span th:text="${company.name}" /></span>
                <span class="address font-14"><span th:text="${company.address}" /></span>
            </div>
            <div class="level mg-t-20">
                <span class="font-16">지원자들이 느낀 난이도에요</span>
                <div class="stat font-12">
                    <div class="high">
                        <span>어려워요</span>
                        <th:block th:each="rt : ${rates}" th:if="${rt.level.name == 'HIGH'}">
                            <div><div class="bar" th:style="|width:${rt.rate}%;|"></div></div>
                        </th:block>
                    </div>
                    <div class="mid">
                        <span>보통이에요</span>
                        <th:block th:each="rt : ${rates}" th:if="${rt.level.name == 'MID'}">
                            <div><div class="bar" th:style="|width:${rt.rate}%;|"></div></div>
                        </th:block>
                    </div>
                    <div class="low">
                        <span>쉬워요</span>
                        <th:block th:each="rt : ${rates}" th:if="${rt.level.name == 'LOW'}">
                            <div><div class="bar" th:style="|width:${rt.rate}%;|"></div></div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="experience mg-t-20">
                <span class="font-16">가장 많이 채용한 방식 TOP3 에요</span>
                <div class="top3">
                    <th:block th:each="tp : ${top3}">
                        <div class="code"><span class="font-12" th:text="${tp}"></span></div>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="line-box"></div>
        <div class="reviews mg-t-10">
            <span class="font-16">상세후기</span>
            <div class="reviews-form scroll-custom mg-t-10 ">
                <th:block th:each="review : ${reviews}">
                    <div class="review-box">
                        <div class="date font-14"><span th:text="${review.writeDt}"></span></div>
                        <div class="lvl font-12 mg-t-5"><span th:text="${review.level.label}"></span></div>
                        <div class="font-14">
                            <th:block th:each="exp : ${review.experience}">
                                <div class="review">
                                    <span class="type" th:text="${exp.code.cdName}"></span>
                                    <div class="text mg-t-5"><span th:text="${exp.content}"></span> </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{common/footer :: footer}"></footer>
<!-- 아이콘 적용 -->
<script>
    feather.replace()
</script>

<script type="text/javascript" th:src="@{//dapi.kakao.com/v2/maps/sdk.js(appkey=${@environment.getProperty('kakao.map.appkey')}, libraries=services)}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const address = /*[[${company.address}]]*/;
    if(address == null) {
        const mapImg = document.querySelector(".map > img");
        mapImg.style.display = '';
    } else {
        const mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        const map = new kakao.maps.Map(mapContainer, mapOption);

        // 마커를 생성
        const imageSrc = 'http://t1.daumcdn.net/mapjsapi/images/2x/marker.png', // 마커이미지의 주소입니다
            imageSize = new kakao.maps.Size(29, 42), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(0, 0)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        const markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

        // 주소-좌표 변환 객체를 생성합니다
        const geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(address, function (result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {
                const coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                const marker = new kakao.maps.Marker({
                    map: map,
                    position: coords,
                    image: markerImage // 마커이미지 설정
                });

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>