.explain { display: flex; flex: 0 100%; flex-direction: column; }

.search-form { display: flex; flex: 0 100%; justify-content: space-between; }
.search-form form div, .search-form div { margin: auto 0; }

.search-form form { width: 80%; }
.search-form form .search-box { display: flex; height: 25px; border-bottom: 0.5px solid var(--color-darkgray); }
.search-form form .search-box input[name=search] { width: 100%; margin: 0 5px; border: 0; outline: none; background-color: transparent; }
.search-form form .search-box input[name=search i] { font-size: 14px; }
.search-form form .search-box ::placeholder { font-size: 14px; }

.search-form .search-btn {
    width: 50px;
    height: 30px;

    border-radius: 2px;
    background-color: var(--nklcb-logo-color);
}
.search-form .search-btn a { height: 100%; display: flex; align-items: center; }
.search-form .search-btn a svg { width: 14px; height: 14px; margin: 0 auto; color: var(--color-white); }

.search-list { display: flex; flex: 0 100%; flex-direction: column; height: 850px; overflow-y: auto; }
.search-list .info, .search-list .item {
    height: 60px;

    display: flex;
    flex-direction: column;

    padding: 10px 20px;
    margin: 8px 0;

    background-color: var(--color-white);
    border: 0.5px solid var(--color-darkgray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-radius: 5px;
}
.search-list .info { background-color: var(--color-gray); }
.search-list .info div, .search-list .item div { margin: auto 0; }
.search-list .item .item-name { font-weight: 700; }
.search-list .item .item-name a { display: block; width: 100%; }

/*!* 화면 사이즈가 600px 이상인 경우 *!*/
/*@media all and (min-width: 600px) {*/

/*    .search-form .search-box input[name=keyword] { width: 350px; height: 30px; }*/
/*    .search-list .item { height: 100px; }*/
/*    .footer { height: 40px; }*/

/*    html { font-size: 150%; }*/
/*}*/

