<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8" >
    <title>Login</title>

    <link href="main.css" th:href="@{/css/common.css}" rel="stylesheet" />
    <link href="main.css" th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
<main>
    <div class="container font">
        <div class="logo font-32">GO NKLCB</div>
        <div class="explain mg-t-30 font-14">
            <div class="mg-b-10">GO NKLCB 에 오신걸 환영합니다.</div>
            <div>개발자를 위한 채용 후기 플랫폼입니다.</div>
        </div>
        <div class="loginBtn">
            <a th:href="@{/oauth2/authorization/google}"><img th:src="@{/images/google.svg}" /><span> Google 계정으로 계속하기</span></a>
        </div>
    </div>
</main>
</body>
</html>