<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8" >
    <title>Login</title>

    <link href="main.css" th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
<!--        <div class="logo">-->
<!--            GO-->
<!--            NKLCB-->
<!--        </div>-->
        <div class="loginBtn">
            <a th:href="@{/oauth2/authorization/google}">구글로 계속하기</a>
        </div>
    </div>
</body>
</html>