<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8" >
    <title>Login</title>

    <link href="main.css" th:href="@{/css/common.css}" rel="stylesheet" />

    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
    <div class="container">
<!--        <div class="logo">-->
<!--            GO-->
<!--            NKLCB-->
<!--        </div>-->
        <div class="loginBtn">
            <div id="g_id_onload"
                 th:data-client_id="${clientId}"
                 data-ux_mode="redirect"
                 data-login_uri="/">    <!-- 405 오류 발생함 -->
            </div>
            <div class="g_id_signin" data-type="standard" data-size="large" data-text="continue_with" data-shape="pill"></div>

            <!-- https://developers.google.com/identity/gsi/web/reference/html-reference -->
        </div>
    </div>
</body>
</html>