<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head"></th:block>

    <link href="main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="~{common/header :: header}"></header>
<main>
    <div class="container">
        <div class="explain">서류전형, 코딩테스트 ... 채용 후기를 한눈에!</div>
        <div class="search-form font mg-t-40">
            <form th:action="@{/}" th:method="get">
                <div class="search-box">
                    <input type="text" name="search" placeholder="회사를 검색해주세요" th:value="${search}" onkeyup="enterkey()"/>
                </div>
            </form>
            <div class="search-btn">
                <a href="javascript:void(0)" onclick="document.querySelector('form').submit();" aria-label="검색"><i data-feather="search"></i></a>
            </div>
        </div>
        <div class="search-list scroll-custom font mg-t-20">
<!--            <div class="info">-->
<!--                <div class="font-16">가잡</div>-->
<!--                <div class="font-12">-->
<!--                    개발자 채용 후기를 확인해보세요 <br/>-->
<!--                    * 가잡에 대한 소개를 간단히 적을 예정-->
<!--                </div>-->
<!--            </div>-->

            <th:bock th:each="company : ${companies}">
                <div class="item">
                    <div class="item-name font-16"><a th:href="@{review/view(company=${company.cId})}"><span th:text="${company.name}"></span></a></div>
                    <div class="item-addr font-12"><span th:text="${company.address}"></span></div>
                </div>
            </th:bock>
        </div>
    </div>
</main>
<footer th:replace="~{common/footer :: footer}"></footer>
<!-- 아이콘 적용 -->
<script th:inline="javascript">
    feather.replace()

    // 검색창에서 엔터키 누를 때 동작
    function enterkey(event) {
        if (event.keyCode == 13) {
            document.querySelector('form').submit();
        }
    }

    // 회사 클릭
    function clickCompany(event) {
        console.log(event);
    }
</script>
</body>
</html>