<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8" >
    <title>Main</title>

    <link href="main.css" th:href="@{/css/common.css}" rel="stylesheet" />
    <link href="main.css" th:href="@{/css/mypage.css}" rel="stylesheet" />

    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="logo font font-26"><a th:href="@{/}">GO NKLCB</a></div>
            <div class="menu"><a href="#" th:href="@{/}"><i data-feather="menu"></i></a></div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="profile">
            <div class="image">
                <img th:src="${profile.picture}" />
            </div>
            <div class="info font">
                <div class="name font-16"><span th:text="${profile.name}">이름</span></div>
                <div class="email font-16"><span th:text="${profile.email}">이메일</span></div>

                <div class="btns font-12">
                    <div class="wirte_review"><a href=""#>후기 작성하기</a></div>
                    <div class="logout"><a th:href="@{/logout}">로그아웃</a></div>
                </div>
            </div>
        </div>

        <div class="reviews font mg-t-40">
            <span class="font-14">내가 쓴 후기</span>
            <div class="review-line"></div>

            <div class="review-list">
                <div class="review-box">
                    <div class="review">
                        <div class="company font-14">인하공업전문주식회사</div>
                        <div class="write-date font-12">2022.09.10</div>
                    </div>
                    <div class="review-del font-12"><a th:href="@{/mypage}">삭제</a></div>
                </div>
                <div class="review-box">
                    <div class="review">
                        <div class="company font-14">인하공업전문주식회사</div>
                        <div class="write-date font-12">2022.09.10</div>
                    </div>
                    <div class="review-del font-12"><a th:href="@{/mypage}">삭제</a></div>
                </div>
                <div class="review-box">
                    <div class="review">
                        <div class="company font-14">인하공업전문주식회사</div>
                        <div class="write-date font-12">2022.09.10</div>
                    </div>
                    <div class="review-del font-12"><a th:href="@{/mypage}">삭제</a></div>
                </div>
                <div class="review-box">
                    <div class="review">
                        <div class="company font-14">인하공업전문주식회사</div>
                        <div class="write-date font-12">2022.09.10</div>
                    </div>
                    <div class="review-del font-12"><a th:href="@{/mypage}">삭제</a></div>
                </div>
                <div class="review-box">
                    <div class="review">
                        <div class="company font-14">인하공업전문주식회사</div>
                        <div class="write-date font-12">2022.09.10</div>
                    </div>
                    <div class="review-del font-12"><a th:href="@{/mypage}">삭제</a></div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer>
    <div class="footer"><i data-feather="mail"></i></div>
</footer>
<!-- 아이콘 적용 -->
<script>
    feather.replace()
</script>
</body>
</html>