<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:replace="common/head"></th:block>

    <link href="review.css" th:href="@{/css/review.css}" rel="stylesheet" />
</head>
<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="prev"><a href="javascript:history.back();"><i data-feather="chevron-left"></i></a></div>
            <div class="pagename font font-20">후기 등록</div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="review-form font mg-t-20">
            <form th:object="${addReview}">
                <div class="company">
                    <span class="font-16">등록할 회사를 선택해주세요</span>
                    <div class="input-box mg-t-10">
                        <input type="text" th:field="*{cId}" hidden/>
                        <input type="text" id="company" name="name" placeholder="회사명을 입력해주세요"/>
                    </div>
                    <div id="keyword-box" class="invisble"></div>
                </div>
                <div class="level mg-t-30">
                    <span class="font-16">난이도는 어떠셨나요?</span>
                    <div class="mg-t-10">
                        <div class="form-radio-btn radio-low font-14">
                            <input id="radio-1" type="radio" th:field="*{level}" th:value="low" />
                            <label for="radio-1">쉬워요</label>
                        </div>
                        <div class="form-radio-btn radio-mid font-14">
                            <input id="radio-2" type="radio" th:field="*{level}" th:value="mid"/>
                            <label for="radio-2">보통이에요</label>
                        </div>
                        <div class="form-radio-btn radio-high font-14">
                            <input id="radio-3" type="radio" th:field="*{level}" th:value="high" />
                            <label for="radio-3">어려워요</label>
                        </div>
                    </div>
                </div>
                <div class="experience mg-t-30">
                    <span class="font-16">경험한 항목을 선택하고 후기를 작성해주세요.</span>
                    <input type="hidden" name="experience">
                    <th:block th:each="code : ${codes}">
                        <div class="mg-t-5">
                            <div class="font-14">
                                <div class="form-checkbox">
                                    <input id="expType" type="checkbox" th:value="${code.cdId}" onclick="checkExp(this)"/>
                                    <label for="expType" class="mg-l-10" th:text="${code.cdName}"></label>
                                </div>
                                <div class="expText mg-t-5 mg-l-30" style="display: none;">
                                    <textarea th:id="${code.cdId + '_cn'}" placeholder="후기를 작성해주세요"></textarea>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </form>
        </div>
        <div class="review-save font font-16 mg-t-40">
            <a href="javascript:void(0)" th:onclick="save()">후기 등록하기</a>
        </div>

    </div>
</main>
<footer th:replace="~{common/footer :: footer}"></footer>
<script>
    <!-- 아이콘 적용 -->
    feather.replace()

    /*
     * 경험 선택
     */
    function checkExp(cb) {
        let ta = cb.parentNode.nextElementSibling;
        if(cb.checked)
            ta.style.display = '';
        else
            ta.style.display = 'none';
    }

    /*
     * 회사 선택
     */
    const inputCompany = document.getElementById("company");
    inputCompany.oninput = function () {
        let data = inputCompany.value;
        let searchDTO = {
            search : data
        };
        $.ajax({
            url: "/search/company",
            data: searchDTO,
            type: "POST",
        }).done(function (result) {
            const keyword = document.getElementById("keyword-box");

            // 회사 리스트가 없는 경우 표시 안하도록
            if (result == "" || result == null) {
                keyword.style.display = 'none';
                return false;
            }

            let list = "";
            for (let i=0; i<result.length; i++) {
                list += `<div class='item' id=${result[i].cid} onclick="selectCompany(this)">${result[i].name}</div>`;
            }

            keyword.innerHTML = list;
            keyword.style.display = 'block';
        });
    }

    function selectCompany(item) {
        let name = item.innerText;
        let cId = item.id;

        document.getElementById("cId").value = cId;
        document.getElementById("company").value = name;

        const keyword = document.getElementById("keyword-box");
        keyword.style.display = 'none';
    }

    /*
     * 후기 등록하기
     */
    function save() {
        let form = document.querySelector("form");
        form.method = "POST";
        form.action = "/review";

        if (document.getElementById("cId").value == null || document.getElementById("cId").value == "") {
            alert("회사를 선택해주세요");
            return false;
        }

        if (document.querySelectorAll("input[id=expType]:checked").length < 1) {
            alert("작성하실 항목을 한 개 이상 선택해주세요");
            return false;
        }
        let arr_experience = new Array();
        let notnull = true;
        document.querySelectorAll("input[id=expType]:checked").forEach(function (item) {
            let data = new Object();
            data.cdId = item.value;

            let content = document.getElementById(item.value + "_cn").value;
            if(content == null || content == "") {
                notnull = false;
            }
            data.content = content;

            arr_experience.push(data);
        });
        if(!notnull) {
            alert("후기를 작성해주세요");
            return false;
        }

        let cId = document.getElementById("cId").value;
        let level = document.querySelector("input[name=level]:checked").value;
        let experience = `{"experience":${JSON.stringify(arr_experience)}}`;
        let addReview = {
            cId :cId,
            level : level,
            experience : experience
        };
        $.ajax({
            url: "/review",
            data: addReview,
            type: "POST",
        }).done(function (result) {
            let code = result.code;

            if (code == 'INTERNAL_SERVER_ERROR')
                alert(result.msg);
            else
                location.href = "/mypage";
        });
    }
</script>
</body>
</html>